body {
    background-color: black;
    display: flex;
    justify-content: center;
    padding:20px;
    font-family: arial;
    color: white;

}
.screen {
    width :600px;
    height: 95vh;
    background-color: #2563EB;
}

.grid-container {
    display: flex;
/*    gap:10px;*/
    flex-direction: column;
    height:100%;
    overflow: hidden;
}

.flex {
/*    background-color: aliceblue;*/
    width:100%;
    height:30%;
    position: relative;
    padding:25px 20px;
}

.upper {
    background-color: none;
    height:32%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('bg.jpg');
}

.middle {
    padding:1px 20px 20px 20px;
        height:25%;
        background-color: #3B82F6;
}

.profile-image {
    width:auto;
    height:80px;
    z-index: 5000;
    background: none;
    border-radius:50%;
}   

.heading {
    font-weight: 800;
    padding:0;
}

.role {
    font-weight:600;
    color:rgba(255,255,255,.6);
}

.middle-title {
    color: rgba(255,255,255,.6);
    text-transform: uppercase;
}

.details-grid {
    display: grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.details-flex {
    display: flex;
    align-items: center;
}

.vertical-line {
  border-left: 4px solid rgba(255,255,255,.5);
  height: 35px;
  border-radius:1px;
  margin-right:10px;
}

.detail-upper,.detail-lower {
    font-size: 11px;
}

.detail-upper {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255,255,255,.7);
}
.lower {
    gap:10px;
    display: flex;
    flex-direction: column;
}

.lower-quote {
    display: flex;
    align-items: baseline;
    padding-bottom: 10px;
    gap:5px;
/*    background-color: aliceblue*/
}

.lower-text {
    color: rgba(255,255,255,.7);
    font-size: 14px;
}
.quote-svg {
    color:rgba(255,255,255,.6);
    width:20px;
    height: 20px;
}